 body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color:rgb(213, 213, 213);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 137px auto;
  padding: 20px;
  background-color: white; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: auto;
  width: 400px;
}

h2 {
  text-align: center;
}

.input-section{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"] {
  flex: 1; 
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: #999;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #696767;
}

#clearAllBtn {
  display: none;
}